// Navigation Styles here
    

.navBar {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px dotted black;

    .fun {
        width: 25%;
        
        h1 {
            display: flex;
            justify-content: flex-start;
            margin: 0 auto;
        }
    }
    .navRight {
        display: flex;
        width: 60%;

        nav {
            display: flex;
            width: 100%;

            a {
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-decoration: none;
                color: grey;
                padding: 5%;
                margin: 0 auto;
            }
        }
    }



}